.overlay {
  position: fixed;
  left: 0;
  top: 0;

  background: var(--primary-black);
  height: 100%;
  width: 100%;
  opacity: 0;

  transition: all 0.5s ease;
  visibility: hidden;
  z-index: 1000;

  &.isOpen {
    opacity: 0.6;
    transition: all 0.5s ease;
    visibility: visible;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 598px;

  opacity: 0;

  transform: translate(-50%, -50.1%);
  transition: all 0.5s ease;
  visibility: hidden;
  z-index: 1001;

  &.isOpen {
    opacity: 1;
    transition: all 0.5s ease;
    visibility: visible;
  }
}

.closeButton {
  height: 24px;
  width: 24px;
  margin: 0 0 16px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;

  cursor: pointer;
}

.header {
  text-align: center;

  background: var(--primary-hover-blue);

  border-radius: 8px 8px 0px 0px;

  h3 {
    color: var(--primary-white);
    padding: 22px 0;
    font-size: 36px;
    font-weight: 100;
    line-height: 24px;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  max-height: 660px;
  overflow-y: auto;

  background: var(--primary-white);
  border-radius: 0px 0px 8px 8px;
  padding: 32px;
  line-height: 20.7px;

  @media (max-height: 700px) {
    max-height: 450px;
  }

  > strong {
    font-size: 20px;
    font-weight: 300;
  }

  > button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    color: var(--primary-white);

    width: 150px;
    margin-top: 2rem;
    border: 1px solid var(--secondary-black);
    padding: 0.5rem 0;
    border-radius: 8px;
    background-color: var(--primary-hover-blue);

    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: var(--primary-blue);
    }
  }

  > a {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;

    width: 150px;
    margin-top: 1rem;
    border: 1px solid var(--secondary-black);
    padding: 0.5rem 0;
    border-radius: 8px;

    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
