.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;

  max-width: 1300px;
  width: 100%;
  padding: 2rem 0.5rem;
  margin: auto;

  @media (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.HTTP_GAME,
.DOGGO_GAME {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1600px;
  }
}
