.content {
  position: relative;

  &.withArrow {
    padding: 0 25px;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 0;
  opacity: 0;
  visibility: hidden;
}

.currentSlide {
  height: auto;
  opacity: 1;
  visibility: visible;

  &.next {
    animation: slideleft 0.5s forwards;
  }

  &.prev {
    animation: slideright 0.5s forwards;
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideright {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding: 7px 0;
  width: 100%;
}

.dotsBtn {
  background: var(--support-darker);
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  height: 13px;
  margin-right: 8px;
  width: 13px;

  &:last-child {
    margin: 0;
  }

  &.isActive {
    background: var(--primary-blue);
  }
}

.arrows {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;

  @media (max-width: 540px) {
    display: none;
  }
}

.arrow {
  display: flex;
  width: 25px;

  > svg {
    fill: var(--support-darker);

    &:hover {
      fill: var(--text);
    }
  }
}

.arrowLeft {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  left: -7px;
  cursor: pointer;
}

.arrowRight {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(180deg);
  z-index: 1;
  right: -7px;
  cursor: pointer;
}
